services:
  tools:
    build: .
    volumes:
      - ./data:/app/data
      - ./output:/app/output

  train:
    build: .
    volumes:
      - ./data:/app/data
      - ./output:/app/output
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
